
/*Flexslider*/

.flexslider {
	border: 0;
	@include box-shadow(none);
	@include border-radius(0);
	max-width: 100%;
	margin: 0;
	background: #fff;

	.slider-caption{
		position: absolute;
		top: 0%;
     	left: 5%;
		z-index: 99;
		width: 45%;
		text-align: left;
		font-size: 1em;
		line-height: 150%;
		color: $linkColor;
	}

	.more-link{
		padding: 8px 20px;
	}

	.slider-title{
		font-size: 1.5em;
		font-weight: 200;
		color: $linkColor;
	}

	.slider-description{
		display: inline-block;
		clear: both;
	}

	.slides{
		
		li{
			position: relative;

			&:after{
				content:"";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				transition: all 2s;
			}
		}
	}

	.flex-direction-nav{
		display: none;
		position: absolute;
		top: 50%;
		width: 100%;

		li{
			list-style: none;
		}

		a{
			font-size: 0;
    		padding: 10px;
		}
	}

	.flex-control-paging li a {
	    width: 12px;
	    height: 12px;
	    display: block;
	    background: #fff;
	    cursor: pointer;
	    text-indent: -9999px;
	    @include border-radius(50%);

	    &.flex-active{
	    	background: #1659c6;
	    }
	}

	.flex-control-nav{
		bottom: 10px;
	}

}