
/*Variables*/

$fontFamily: 'Poppins', sans-serif;
$titleFontFamily: 'Poppins', sans-serif;
$baseFontSize: 14px;
$bodyBGColor: #fef7ed;
$baseFontColor: #000;

$linkColor: #1659c6;
$linkColorHover: #77a9ff;

/*Header*/
$headerBGColor: #000;
$headerTextColor: #fff;

$secColor: #fc466b;

/*Menu Color*/
$menuTextColor: #fff;
$menuTextActiveColor: #77a9ff;

$mobileMenuBg: #000;
$desktopMenuTextColor: #fff;
$desktopMenuDropDownBg: $linkColor;
$borderColor: #e8e8e8;

/*Mixins*/

@mixin globalButton(){
	cursor: pointer;
	color: $linkColor;
	border: 0;
	padding: 12px 30px;
	line-height: 100%;
	margin-right: 2px;
	display: inline-block;
	border: 3px solid $linkColor;
	@include border-radius(30px);
	@include transition(all 0.3s);
	border: 3px solid $linkColor;
}

@mixin globalButtonHover(){
   	background: $linkColor;
    color: #fff;
}